.d-flex:first-child {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10vw;
  height: 60vh;
  background-color: black;
}

.light {
  width: calc(90% - 20px);
  height: calc(30% - 20px);
  background-color: lightgray;
}

.light:first-child {
  background-color: red;
}

.light:nth-child(2) {
  background-color: rgb(255, 187, 0);
}

.light:nth-child(3) {
  background-color: rgb(102, 255, 0);
}

.light:nth-child(4) {
  background-color: purple;
}

.red,
.yellow,
.green,
.purple {
  position: relative;
  z-index: 2;
}

.red {
  box-shadow: 0px 0px 10px 10px red;
}

.yellow {
  box-shadow: 0px 0px 10px 10px rgb(255, 187, 0);
}

.green {
  box-shadow: 0px 0px 10px 10px rgb(102, 255, 0);
}

.purple {
  box-shadow: 0px 0px 10px 10px purple;
}

.btn-secondary {
  background-color: purple !important;
  border-color: purple !important;
}

.btn-secondary:active {
  background-color: rgb(88, 0, 88) !important;
  border-color: rgb(88, 0, 88) !important;
}

.d-flex:last-child {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}
